@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-mainColor: #0aad0a;
  --color-bgColor: #82fa82;
  --color-hoverColor: #1c531c;
}

@layer base {
  body {
    font-family: "Encode Sans Expanded", sans-serif;
  }
}

@layer components {
  .btn {
    @apply flex justify-between items-center space-x-5 px-2.5 py-2 bg-gray-300 hover:bg-gray-500 hover:text-white text-xl rounded-2xl transition-all duration-300;
  }

  .link-hover {
    @apply hover:text-mainColor transition-colors duration-300;
  }

  .afterEffect {
    @apply after:absolute hover:after:w-full after:h-1 after:bg-mainColor after:w-0 after:left-0 after:bottom-0 after:transition-[width] after:duration-500;
  }

  .link-hover.active {
    @apply text-mainColor;
  }

  .formContainer {
    @apply container py-25 mx-auto flex flex-col md:flex-row items-center justify-center gap-10 p-4 transition-colors duration-300;
  }

  .title {
    @apply text-3xl py-2 text-center text-mainColor font-bold transition-colors duration-300;
  }

  .input {
    @apply w-full pl-3 py-2 bg-white dark:bg-slate-300 rounded-md border-2 border-mainColor text-gray-800 dark:text-slate-950 transition-colors duration-300;
  }

  .submitBtn {
    @apply px-4 py-2 text-white bg-mainColor hover:bg-hoverColor rounded-md transition-colors duration-200;
  }

  .error {
    @apply text-center text-red-500 my-4;
  }

  .formikError {
    @apply text-red-500 mt-1;
  }

  .loadingBtn {
    @apply flex items-center gap-2 p-2 text-white rounded-md bg-mainColor transition-colors duration-300;
  }

  .titleForm {
    @apply text-2xl text-center text-mainColor font-semibold mb-6 transition-colors duration-300;
  }

  .divForm {
    @apply w-full md:w-2/3 bg-slate-200 dark:bg-slate-700 p-6 rounded-xl shadow-xl transition-colors duration-300;
  }

  form {
    @apply space-y-5 dark:text-slate-200 transition-colors duration-300;
  }

  .eye {
    @apply absolute right-3 top-9 cursor-pointer dark:text-slate-900 transition-colors duration-300;
  }

  .loading {
    @apply flex justify-center items-center py-24 dark:bg-slate-800 transition-colors duration-300;
  }

  .imgSide {
    @apply w-full md:w-1/3 flex justify-center transition-colors duration-300;
  }
}

@utility container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  @media (width >= 80rem) {
    max-width: 75rem;
  }
}

.line {
  background: #d5d5d5;
  height: 1px;
  margin: 25px 0;
}

.perspective-1000 {
  perspective: 1000px;
}

:root {
  --selection-bg: #41bb41;
  --selection-color: #fff;
}

/* & Selection */
::selection {
  background-color: var(--selection-bg);
  color: var(--selection-color);
}

/* * Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px #246824 inset;
}

::-webkit-scrollbar-track {
  background: #dedede;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #246824;
  box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
  border-radius: 100vh;
}

.swiper-pagination-bullet {
  background-color: #676f81 !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #41bb41 !important;
}

.link-hover::after {
  transition-property: width;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.link-hover.active::after {
  width: 100%;
}